PROJECT_NAME=Medical Report Assistant
API_V1_STR=/api/v1

# MongoDB Atlas Configuration Template
MONGODB_URL=mongodb+srv://<db_username>:<db_password>@cluster.mongodb.net/?appName=AppName
DATABASE_NAME=Mreport

# System Settings
UPLOAD_DIR=../documents/uploads
LOG_DIR=logs
LOG_FILE=logs/application.log
MAX_FILE_SIZE_MB=25

# AI Provider Settings
LLM_PROVIDER=groq
GROQ_API_KEY=
GROQ_BASE_URL=https://api.groq.com/openai/v1
GROQ_MODEL=llama-3.1-70b-versatile
EMBEDDING_MODEL=BAAI/bge-small-en-v1.5
VECTOR_DB=faiss
DEFAULT_LANGUAGE=en
